{layout="layout/_html-wrapper"}
{if segment_2 != ""}{redirect="404"}{/if}

<section class="section section--offset">
	<div class="shell">
		<div class="section__head">
			<span class="separator"></span><!-- /.separator -->

			<h2>We’re Hype Legal, a team of strategists and problem solvers based in Colorado, working nationwide.</h2>
		</div><!-- /.section__head -->

		<div class="section__body">
			<div class="section__entry">
				<figure>
					<picture>
						<source media="(min-width:768px)" srcset="/build/assets/images/temp/about-img-desktop.jpg">

						<img src="/build/assets/images/temp/about-img.jpg" alt="">
					</picture>
				</figure>
			</div><!-- /.section__entry -->

			<div class="section__entry">
				<div class="block-content grid-flex grid-flex--no-gap-y">
					<div class="block__title block__title--no-offset grid__col grid__col-md--1of2">
						<h3 class="level-1">About</h3>
					</div><!-- /.block__title -->

					<div class="block__content block__content--alt grid__col grid__col-md--1of2">
						<p>The legal industry is one of the most competitive markets for search, making exposure to target clients a daunting task. Achieving the desired placement for top keywords requires a dedicated strategy that understands the clients’ mindset and online habits.</p>

						<p>With a combined twenty-seven years of experience in legal marketing, Hype Legal is a boutique agency dedicated to delivering <a href="{path='work'}">best-in-class results</a>.</p>

						<p>At Hype, we keep it small, focusing on specialized marketing services for an exclusive client list. This approach allows our team to offer a highly individualized and personalized experience for our clients. Our team of designers, developers, and digital marketing specialists are passionate about design and developing a strategy to help your firm grow. Understanding that no two clients are the same, we provide tailored digital marketing services unique to your firm’s individual goals.</p>
					</div><!-- /.block__content -->
				</div><!-- /.block-content -->
			</div><!-- /.section__entry -->

			<div class="section__entry">
				<div class="block-content">
					<div class="block__title">
						<span class="separator separator--fullwidth"></span><!-- /.separator -->

						<h3 class="level-1">Services</h3>
					</div><!-- /.block__title -->

					<div class="block__cols grid-flex grid-flex--no-gap-y">
						<div class="grid__col grid__col-md--1of4">
							<div class="block__content">
								<h6>Creative</h6>

								<ul>
									<li>Branding & Identity</li>

									<li>UX/UI Design</li>

									<li>Interactive Media</li>

									<li>Video Production</li>
								</ul>
							</div><!-- /.block__content -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col-md--1of4">
							<div class="block__content">
								<h6>Engineering</h6>

								<ul>
									<li>Website Development</li>

									<li>CMS Implementation</li>
								</ul>
							</div><!-- /.block__content -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col-md--1of4">
							<div class="block__content">
								<h6>Marketing</h6>

								<ul>
									<li>Public Relations</li>

									<li>Social Media</li>

									<li>Digital & Content Strategy</li>

									<li>Search Engine Optimization (SEO)</li>

									<li>Pay-Per-Click Management (PPC)</li>
								</ul>
							</div><!-- /.block__content -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col-md--1of4">
							<div class="block__content">
								<h6>Support</h6>

								<ul>
									<li>Hosting</li>

									<li>Site Migration</li>

									<li>Site Maintenance</li>

									<li>CMS Training</li>
								</ul>
							</div><!-- /.block__content -->
						</div><!-- /.grid__col grid__col--1of4 -->
					</div><!-- /.block__cols grid-flex -->
				</div><!-- /.block-content -->
			</div><!-- /.section__entry -->

			<div class="section__entry">
				<div class="block-content">
					<div class="block__seaprator separator separator--fullwidth"></div><!-- /.block__seaprator -->

					<div class="grid-flex grid-flex--no-gap-y">
						<div class="block__title block__title--offset-alt grid__col grid__col-md--1of2">
							<h3 class="level-1">Leadership</h3>
						</div><!-- /.block__title -->

						<div class="block__content grid__col grid__col-md--1of2">
							<div class="list-team">
								<div class="list__item">
									<h4>Micah Kohne</h4>

									<span>founder, developer</span>

									<p>Micah has been working in the legal industry since 2003 as Chief Marketing Officer at High Impact® – one of the nation's leading providers of legal exhibits. He has worked as a Graphic Designer, Art Director, Developer, as well as Visual Consultant for law firms across the country.</p>
								</div><!-- /.list__item -->

								<div class="list__item">
									<h4>Tyler Komarnycky</h4>

									<span>founder</span>

									<p>Tyler has worked in the legal industry since 2010 and had a pivotal role in the establishment, identity, and growth at High Impact, the nation’s premier legal graphics and animation firm. With 27 years of combined experience in the legal market, Tyler and his former colleague, Micah, founded Hype Legal.</p>
								</div><!-- /.list__item -->

								<div class="list__item">
									<h4>Jason Reynolds</h4>

									<span>UX/UI Designer</span>

									<p>Jason is an award-winning designer who has been working in the industry since 2005. Throughout his career Jason has worked with startups, charities and world-renowned institutions, as well as a few notable brands including Nike, Uber and Financial Times.</p>
								</div><!-- /.list__item -->

							</div><!-- /.list-team -->
						</div><!-- /.block__content -->
					</div><!-- /.grid-flex -->
				</div><!-- /.block-content -->
			</div><!-- /.section__entry -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</section><!-- /.section -->