{layout="layout/_html-wrapper"}

<section class="section">
	<div class="shell">
		<div class="section__head">
			<span class="separator"></span>

			<h2>We’re Hype Legal. We create bespoke digital solutions for ambitious law firms.</h2>
		</div><!-- /.section__head -->

		<div class="section__body">
			<div class="grid-flex">
				<div class="grid__col">
					<div class="card card--primary">
						<a href="project.html">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img1.jpg">

									<img src="/build/assets/images/temp/card-img1-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span class="separator separator--fullwidth"></span><!-- /.separator separator--fullwidth -->

								<span>featured</span>

								<h3>Chaiken + Chaiken</h3>

								<p>Chaiken + Chaiken is unique, in that their lawyers are medical doctors and have degrees in anatomy and engineering, as well as accident reconstruction training.</p>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->

				<div class="grid__col grid__col-md--1of2 grid__col-lg--1of3">
					<div class="card">
						<a href="#">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img2.jpg">

									<img src="/build/assets/images/temp/card-img2-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>recently launched</span>

								<h4>Commonwealth Law Group</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->

				<div class="grid__col grid__col-md--1of2 grid__col-lg--2of3">
					<div class="card">
						<a href="#">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img3.jpg">

									<img src="/build/assets/images/temp/card-img3-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>recently launched</span>

								<h4>Gideon Asen</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->

				<div class="grid__col grid__col-md--1of2 grid__col-lg--2of3">
					<div class="card">
						<a href="#">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img4.jpg">

									<img src="/build/assets/images/temp/card-img4-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>recently launched</span>

								<h4>Cullan and Cullan</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->

				<div class="grid__col grid__col-md--1of2 grid__col-lg--1of3">
					<div class="card">
						<a href="#">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img5.jpg">

									<img src="/build/assets/images/temp/card-img5-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>recently launched</span>

								<h4>Clore Law Group</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->

				<div class="grid__col grid__col-md--1of2 grid__col-lg--1of3">
					<div class="card">
						<a href="#">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img6.jpg">

									<img src="/build/assets/images/temp/card-img6-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>recently launched</span>

								<h4>Dunn Sheehan</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->

				<div class="grid__col grid__col-md--1of2 grid__col-lg--2of3">
					<div class="card">
						<a href="#">
							<div class="card__image">
								<picture>
									<source media="(min-width:1024px)" srcset="/build/assets/images/temp/card-img7.jpg">

									<img src="/build/assets/images/temp/card-img7-mobile.jpg" alt="">
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>recently launched</span>

								<h4>The Spence Law Firm</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</section><!-- /.section -->