{layout="layout/_html-wrapper" seo_title="Application Received | Hype Legal" seo_description="We're glad you took the time to reach out. We've received your application and our team will be reviewing submissions over the coming days."}

<section class="section-form">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-separator separator"></div><!-- /.section__head-separator separator -->

			<div class="grid-flex grid-flex--large-gap grid-flex--align-center">
				<div class="section__head-title grid__col grid__col-md--1of2">
					<h1>Thanks –We have received your application.</h1>
				</div><!-- /.section__head-title -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__head -->

		<div class="section__entry">
			<div class="block-content grid-flex grid-flex--no-gap-y">

				<div class="block__content block__content--alt grid__col grid__col-md--1of2">
					<p>We're glad you took the time to reach out. We've received your application and our team will be reviewing submissions over the coming days. If your experience looks like a great fit, we'll be in touch to schedule next steps.

					<p>Thanks again — we appreciate your interest!</p>
				</div><!-- /.block__content -->
			</div><!-- /.block-content -->
		</div><!-- /.section__entry -->
	</div><!-- /.shell -->
</section><!-- /.section-form -->