{layout="layout/_html-wrapper"}

{layout:set:append name='breadcrumb_urls'}https://www.hypelegal.com/contact{/layout:set:append}
{layout:set:append name='breadcrumb_titles'}Contact{/layout:set:append}
{layout:set:append name='breadcrumb_jsonld_positions'}2{/layout:set:append}

<section class="section-form">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-separator separator"></div><!-- /.section__head-separator separator -->

			<div class="grid-flex grid-flex--large-gap grid-flex--align-center">
				<div class="section__head-title grid__col grid__col-md--1of2">
					<h1>Let’s work together. We’d love to hear from you.</h1>
				</div><!-- /.section__head-title -->

				<div class="section__head-content grid__col grid__col-md--1of2">
					<p>Ready to grow your firm’s online presence and attract more clients? Start your next digital legal marketing project by filling out the form below. Our team is here to craft tailored strategies that deliver results for your practice. Getting started is quick and hassle-free—let’s achieve your goals together.</p>
				</div><!-- /.section__head-content -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__head -->

		<div class="section__body grid-flex">
			<div class="section__body-info grid__col grid__col-md--1of2">
				<h6>Contact</h6>

				<span class="separator"></span><!-- /.separator -->

				<address>
					Hype Legal, LLC<br/>
					9615 E County Line Rd, Ste. B-442<br/>
					Centennial, Colorado 80112
				</address>

				<a href="mailto:hello@hypelegal.com">hello@hypelegal.com</a>
			</div><!-- /.section__body-info -->

			<div class="section__body-form grid__col grid__col-md--1of2">
				<div class="form-contact">
					{embed="embeds/contact-form"}
				</div><!-- /.form-contact -->
			</div><!-- /.section__body-form -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</section><!-- /.section-form -->