{layout="layout/_html-wrapper"}

<section class="section-form">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-separator separator"></div><!-- /.section__head-separator separator -->

			<div class="grid-flex grid-flex--large-gap grid-flex--align-center">
				<div class="section__head-title grid__col grid__col-md--1of2">
					<h1>Thanks –Message Received.</h1>
				</div><!-- /.section__head-title -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__head -->

		<div class="section__entry">
			<div class="block-content grid-flex grid-flex--no-gap-y">

				<div class="block__content block__content--alt grid__col grid__col-md--1of2">
					<p>We have received your inquiry and will be in contact shortly to discuss.
					We look forward to the opportunity to work with you.</p>
				</div><!-- /.block__content -->
			</div><!-- /.block-content -->
		</div><!-- /.section__entry -->
	</div><!-- /.shell -->
</section><!-- /.section-form -->