{layout="layout/_html-wrapper"}

<section class="section-form">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-separator separator"></div><!-- /.section__head-separator separator -->

			<div class="grid-flex grid-flex--large-gap grid-flex--align-center">
				<div class="section__head-title grid__col grid__col-md--1of2">
					<h1>Thanks for your interest in Hype Legal – we'll keep you updated.</h1>
				</div><!-- /.section__head-title -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__head -->
	</div><!-- /.shell -->
</section><!-- /.section-form -->