{layout="layout/_html-wrapper"}

<section class="section-form">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-separator separator"></div><!-- /.section__head-separator separator -->

			<div class="grid-flex grid-flex--large-gap grid-flex--align-center">
				<div class="section__head-title grid__col grid__col-md--1of2">
					<h1>Thanks – we'll keep you updated.</h1>
				</div><!-- /.section__head-title -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__head -->

		<div class="section__body grid-flex">
			<div class="section__body-info grid__col grid__col-md--1of2">
				<h6>Contact</h6>

				<span class="separator"></span><!-- /.separator -->

				<address>
					Hype Legal, LLC<br/>
					9615 E County Line Rd, Ste. B-442<br/>
					Centennial, Colorado 80112
				</address>

				<a href="mailto:hello@hypelegal.com">hello@hypelegal.com</a>
			</div><!-- /.section__body-info -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</section><!-- /.section-form -->