/* ------------------------------------------------------------ *\
	Block Images
\* ------------------------------------------------------------ */

.block-images {
	.block__image {
		position: relative;
		overflow: hidden;
		border-radius: 0.3rem;
		height: 100%;

		@include breakpoint-up(tablet) {
			border-radius: 0.5rem;
		}
	}

	.block__image picture,
	.block__image img {
		height: 100%;
		width: 100%;
	}

	.block__content {
		padding-top: 0;
		font-size: 1.4rem;

		@include breakpoint-up(tablet) {
			font-size: 1.6rem;
		}

		@include breakpoint-up(small-desktop) {
			font-size: 1.8rem;
		}

		&--large {
			font-size: 1.8rem;
		}
	}

	.block__content span {
		margin-bottom: 1.8rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 2.2em;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 2.8rem;
		}
	}
}
