/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

.card {
	height: 100%;

	a {
		height: 100%;
		display: block;
		text-decoration: none;
		margin-block: 0;
	}

	.card__image.grid__col {
		padding-block: 0;
	}

	.card__image picture {
		position: relative;
		display: block;
		margin-bottom: 1.4rem;
		border-radius: 0.3rem;
		overflow: hidden;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.2);
			opacity: 0;
			z-index: 2;
			transition: opacity 0.2s ease-in-out;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 2rem;
			border-radius: 0.5rem;
		}
	}

	.card__image img {
		height: 100%;
		width: 100%;
	}

	@media (hover: hover) and (pointer: fine) {
		a:hover .card__image picture:after {
			opacity: 1;
		}
	}

	.card__content.grid__col {
		padding-block: 0;
	}

	.card__content span.separator {
		display: none;

		@include breakpoint-up(mobile) {
			display: block;
			margin-bottom: 3.8rem;
		}
	}

	.card__content span:not([class]) {
		text-transform: uppercase;
		display: block;
		margin-bottom: 0.8rem;
		font-size: 1.1rem;
		line-height: 1.32;
		font-weight: 500;
		font-family: var(--ff-sans-serif);
		letter-spacing: 0.12em;
	}

	.card__content h3 {
		margin-bottom: 1.1rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 2.6rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 3.8rem;
			letter-spacing: -0.01em;
		}
	}
}

/* Card Primary */
.card--primary {
	margin-bottom: 5.2rem;

	@include breakpoint-up(mobile) {
		margin-bottom: 0;
	}

	a {
		margin-bottom: 5.2rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 0;
			display: grid;
			gap: 3.7rem;
			grid-template-columns: 50% 1fr;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: -1.4rem;
			grid-template-columns: 65.9% 1fr;
		}
	}

	.card__image picture {
		margin-bottom: 1.6rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 0;
		}
	}

	.card__content span:not([class]) {
		margin-bottom: 0.4rem;

		@include breakpoint-up(tablet) {
			margin-bottom: 0.8rem;
		}
	}
}
