/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	background: var(--c-base);
	color: var(--c-white);
	padding: 3rem 0;
	overflow: hidden;

	@include breakpoint-up(tablet) {
		padding: 6rem 0;
	}

	@include breakpoint-up(small-desktop) {
		padding: 9rem 0;
	}

	a {
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.4s ease-in-out;

		svg {
			transition: transform 0.4s ease-in-out;
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				text-decoration-color: var(--c-white);

				svg {
					transform: translate(0.2rem, -0.2rem);
				}
			}
		}
	}

	.footer__cols {
		--grid-gutter-y: 3.7rem;
	}

	.footer__title {
		margin-bottom: 2.2rem;
		padding-bottom: 2rem;
		position: relative;
		font-size: 1.4rem;
		line-height: 1.3;
		font-weight: 500;
		font-family: var(--ff-sans-serif);

		@include breakpoint-up(tablet) {
			font-size: 1.6rem;
		}

		&:after {
			content: '';
			display: block;
			width: 2.5rem;
			height: 0.1rem;
			background: var(--c-white);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.footer__content {
		font-size: 1.5rem;
		line-height: 1.3;

		@include breakpoint-up(tablet) {
			font-size: 1.6rem;
		}
	}

	.footer__content address {
		margin-bottom: 1.7rem;

		@include breakpoint-up(tablet) {
			margin-bottom: 2.2rem;
		}
	}

	.footer__bar {
		opacity: 0.5;
		margin-top: 5.5rem;

		@include breakpoint-up(mobile-medium) {
			margin-top: 9rem;
		}

		@include breakpoint-up(mobile) {
			padding-left: calc(10% + 3.7rem);
		}

		@include breakpoint-up(tablet) {
			padding-left: calc(31.6% + 3.7rem);
			font-size: 1.6rem;
			margin-top: 16.4rem;
		}
	}
}
