// ==========================================================================
// Grid
// ==========================================================================

.grid {
	--grid-cols: 1;
	--grid-gutter: 3.7rem;

	display: grid;
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	gap: var(--grid-gutter);
}

.grid--desktop {
	grid-template-columns: 1fr;

	@include breakpoint-up(mobile) {
		grid-template-columns: repeat(var(--grid-cols), 1fr);
	}
}

// Grid size 1of2
.grid--size-1of2 {
	--grid-cols: 2;
}

// Grid size 1of3
.grid--size-1of3 {
	--grid-cols: 3;
}

// Grid size 1of4
.grid--size-1of4 {
	--grid-cols: 4;
}

// Grid size 1of5
.grid--size-1of5 {
	--grid-cols: 5;
}

// Grid size 1of6
.grid--size-1of6 {
	--grid-cols: 6;
}
