/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	padding: 3.6rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transform: translateY(0);
	border-bottom: 1px solid transparent;
	transition:
		transform 0.4s,
		padding 0.4s;

	@include breakpoint-up(mobile) {
		position: absolute;
	}

	@include breakpoint-up(tablet) {
		padding: 6.4rem 0;
	}

	@include breakpoint-up(small-desktop) {
		padding: 9rem 0;
	}

	&.is-scrolled {
		padding: 2rem 0;
		background: var(--c-gray-100);

		@include breakpoint-up(mobile) {
			padding: unset;
		}
	}

	&.is-fixed {
		@include breakpoint-up(mobile) {
			position: fixed;
			transform: translateY(-100%);
			padding: 2.3rem 0;
			background: var(--c-gray-100);
			border-color: rgba(6, 13, 32, 0.1);
		}
	}

	&.is-fixed.is-visible {
		@include breakpoint-up(mobile) {
			transform: translateY(0);
		}
	}

	&.no-transition {
		@include breakpoint-up(mobile) {
			transition: none !important;
		}
	}

	.header__shell {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4rem;
	}
}
