/* ------------------------------------------------------------ *\
	Header Toggle
\* ------------------------------------------------------------ */

.header-toggle {
	padding: 2.6rem 2.4rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	opacity: 0;
	visibility: hidden;
	display: none;
	transition:
		opacity 0.2s,
		visibility 0.2s;

	@include breakpoint-up(mobile) {
		display: block;
	}

	@include breakpoint-up(tablet) {
		padding: 2.6rem 3rem;
	}

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}
}
