/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

.sprite {
	display: none;
}

.ico-arrow-right {
	width: 1.6rem;
	height: 1.6rem;
}

.ico-arrow-up-right {
	width: 1.5rem;
	height: 1.5rem;
}
