// ==========================================================================
// Link
// ==========================================================================

.link {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	gap: 1rem;
	font-family: var(--ff-sans-serif);
	text-decoration: underline;
	text-transform: uppercase;
	text-underline-offset: 5px;
	text-decoration-thickness: 1px;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.3;
	letter-spacing: 0.07em;
	transition: opacity 0.2s ease-in-out;

	.ico-arrow-right {
		width: 1.5rem;
		height: 1.5rem;
		text-decoration: none;
		transition: transform 0.4s ease-in-out;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			opacity: 0.8;

			.ico-arrow-right {
				transform: translateX(3px);
			}
		}
	}
}

/* Link Alt */
.link--alt {
	font-family: var(--ff-base);
	font-size: 2.4rem;
	line-height: 1.3;
	letter-spacing: -0.01em;
	text-underline-offset: 10px;
	text-transform: none;
	gap: 0.6rem;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			.ico-arrow-right {
				transform: translateX(5px);
			}
		}
	}

	@include breakpoint-up(tablet) {
		font-size: 3.2rem;
	}

	@include breakpoint-up(small-desktop) {
		font-size: 4rem;
		gap: 1rem;
		text-underline-offset: 13px;
	}

	.ico-arrow-right {
		width: 2.4rem;
		height: 2.4rem;

		@include breakpoint-up(tablet) {
			width: 3.6rem;
			height: 3.6rem;
		}
	}
}
