/* ------------------------------------------------------------ *\
	List Team
\* ------------------------------------------------------------ */

.list-team {
	@include breakpoint-up(tablet) {
		padding-top: 1.9rem;
	}

	h4 {
		margin-bottom: 0.8rem;
		font-size: 2rem;
		line-height: 1.3;

		@include breakpoint-up(mobile) {
			font-size: 2.2rem;
		}

		@include breakpoint-up(tablet) {
			font-size: 2.4rem;
		}
	}

	span {
		display: block;
		margin-bottom: 1.85rem;
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.32;
		letter-spacing: 0.12em;
		font-family: var(--ff-sans-serif);

		@include breakpoint-up(tablet) {
			font-size: 1.1rem;
		}
	}

	.list__item + .list__item {
		margin-top: 4rem;
	}
}
