/* ------------------------------------------------------------ *\
	Menu Toggle
\* ------------------------------------------------------------ */

.menu-toggle {
	width: fit-content;
	margin-left: auto;
	margin-right: 0;
	cursor: pointer;

	span {
		display: block;
		width: 3rem;
		height: 0.2rem;
		background: #060d20;
	}

	span + span {
		margin-top: 0.5rem;
	}
}
