/* ------------------------------------------------------------ *\
	Quote
\* ------------------------------------------------------------ */

.quote {
	font-size: 2rem;
	padding-bottom: 2rem;
	margin-block: -2.6rem;

	@include breakpoint-up(mobile) {
		font-size: 2.4rem;
		padding-bottom: 0;
	}

	@include breakpoint-up(tablet) {
		font-size: 2.8rem;
		margin-block: 0;
	}

	@include breakpoint-up(small-desktop) {
		font-size: 3.2rem;
		letter-spacing: -0.01em;
	}

	.quote__content {
		margin-bottom: 2.8rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 3.2rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 3.7rem;
		}
	}

	.quote__content span {
		margin-bottom: 2.4rem;

		@include breakpoint-up(tablet) {
			margin-bottom: 2.8rem;
		}
	}

	.quote__author {
		display: grid;
		align-items: center;
		gap: 1.8rem;
		grid-template-columns: 4.8rem 1fr;
		font-size: 1.4rem;
		line-height: 1.3;
		font-family: var(--ff-sans-serif);

		@include breakpoint-up(mobile) {
			grid-template-columns: 5.2rem 1fr;
			gap: 2rem;
		}

		@include breakpoint-up(tablet) {
			grid-template-columns: 5.7rem 1fr;
			gap: 2.4rem;
			font-size: 1.6rem;
		}
	}

	.quote__author h6 {
		font-size: 1.4rem;
		line-height: 1.3;
		font-weight: 500;
		margin-bottom: 0;

		@include breakpoint-up(tablet) {
			font-size: 1.6rem;
			letter-spacing: 0;
		}
	}

	.quote__author p {
		margin-bottom: 0;
		letter-spacing: 0;
	}

	.quote__author-image {
		aspect-ratio: 1 / 1;
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 0.3rem;

		@include breakpoint-up(tablet) {
			border-radius: 0.3rem;
		}
	}

	.quote__author-image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
