/* ------------------------------------------------------------ *\
	Section Form
\* ------------------------------------------------------------ */

.section-form {
	padding: 4.8rem 0 6rem;

	@include breakpoint-up(tablet) {
		padding: 2.5rem 0 12.5rem;
	}

	.section__head {
		margin-bottom: 0.6rem;
		font-size: 1.6rem;
		line-height: 1.5;

		@include breakpoint-up(mobile-medium) {
			margin-bottom: 4rem;
		}

		@include breakpoint-up(mobile) {
			margin-bottom: 6rem;
			font-size: 1.6rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 10rem;
			font-size: 1.8rem;
		}

		@include breakpoint-up(small-desktop) {
			margin-bottom: 14rem;
		}
	}

	.section__head-separator {
		display: inline-block;
		margin-bottom: 0.5rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 2.4rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 2.5rem;
		}
	}

	.section__head-title h1 {
		max-width: 64rem;
	}

	.section__body-info {
		display: none;

		@include breakpoint-up(mobile) {
			display: block;
		}
	}

	.section__body-info h6 {
		margin-bottom: 1.7rem;
	}

	.section__body-info span {
		margin-bottom: 1.9rem;
		width: 2.5rem;
	}

	.section__body-info address {
		margin-bottom: 2.7rem;
	}

	.section__body-info a {
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.4s ease-in-out;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				text-decoration-color: var(--c-base);
			}
		}
	}
}
