/* ------------------------------------------------------------ *\
	Section Project
\* ------------------------------------------------------------ */

.section-project {
	padding: 5.5rem 0 6rem;
	font-size: 1.8rem;
	line-height: 1.5;

	@include breakpoint-up(tablet) {
		padding: 2.3rem 0 5.6rem;
	}

	.section__head,
	.section__body {
		margin-bottom: 4rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 5.4rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 7rem;
		}

		@include breakpoint-up(small-desktop) {
			margin-bottom: 9.5rem;
		}
	}

	.section__head {
		max-width: 85.8rem;
	}

	.section__head-subtitle {
		display: flex;
		align-items: center;
		gap: 1rem;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.2rem;
		font-family: var(--ff-sans-serif);
		letter-spacing: 0.12em;
		margin-bottom: 1.2rem;

		@include breakpoint-up(mobile) {
			gap: 1.2rem;
			font-size: 1.4rem;
			margin-bottom: 2.4rem;
		}

		@include breakpoint-up(small-desktop) {
			gap: 1.8rem;
			font-size: 1.6rem;
			margin-bottom: 3.8rem;
		}
	}

	.section__entry + .section__entry {
		margin-top: 2.7rem;

		@include breakpoint-up(mobile-medium) {
			margin-top: 4rem;
		}

		@include breakpoint-up(mobile) {
			margin-top: 6rem;
		}

		@include breakpoint-up(tablet) {
			margin-top: 8rem;
		}

		@include breakpoint-up(small-desktop) {
			margin-top: 9.5rem;
		}
	}

	.section__entry figure {
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 0.3rem;
		margin-bottom: -2.5rem;
		height: 100%;

		@include breakpoint-up(tablet) {
			border-radius: 0.5rem;
			margin-bottom: 0;
		}
	}

	.section__entry figure picture,
	.section__entry figure img {
		height: 100%;
		width: 100%;
	}

	.section__foot {
		border-top: 1px solid var(--c-base);
		padding-top: 1.8rem;
	}

	.section__foot span {
		display: block;
		margin-bottom: 0.6rem;
		font-family: var(--ff-sans-serif);
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.2rem;
		letter-spacing: 0.07em;
	}

	.section__foot h6 {
		font-size: 1.8rem;
		font-family: var(--ff-base);
	}
}
