/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 6.4rem 0 6.3rem;

	@include breakpoint-up(tablet) {
		padding: 2.5rem 0 16.4rem;
	}

	.section__head {
		margin-bottom: 2.7rem;

		@include breakpoint-up(mobile) {
			max-width: 85.8rem;
			margin-bottom: 4rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 7rem;
		}

		@include breakpoint-up(small-desktop) {
			margin-bottom: 9.5rem;
		}
	}

	.section__head span {
		margin-bottom: 2.8rem;

		@include breakpoint-up(tablet) {
			margin-bottom: 3.7rem;
		}
	}

	.section__head h2 {
		@include breakpoint-up(small-desktop) {
			letter-spacing: -0.01em;
		}
	}

	.section__body:not(:last-child) {
		margin-bottom: 6rem;

		@include breakpoint-up(mobile) {
			margin-bottom: 8rem;
		}

		@include breakpoint-up(tablet) {
			margin-bottom: 11rem;
		}

		@include breakpoint-up(small-desktop) {
			margin-bottom: 14.4rem;
		}
	}

	.section__entry + .section__entry {
		margin-top: 2.2rem;

		@include breakpoint-up(mobile-medium) {
			margin-top: 4rem;
		}

		@include breakpoint-up(mobile) {
			margin-top: 6rem;
		}

		@include breakpoint-up(tablet) {
			margin-top: 8rem;
		}

		@include breakpoint-up(small-desktop) {
			margin-top: 9.5rem;
		}
	}

	.section__entry > figure {
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 0.3rem;
		margin-bottom: 3.1rem;
		height: 100%;

		@include breakpoint-up(tablet) {
			border-radius: 0.5rem;
		}
	}

	.section__entry figure picture,
	.section__entry figure img {
		height: 100%;
		width: 100%;
	}

	.section__foot a {
		@include breakpoint-up(tablet) {
			display: flex;
			width: fit-content;
			margin-inline: calc(31.7% + 2.7rem) 0;
		}

		@include breakpoint-up(small-desktop) {
			margin-inline: calc(31.7% + 3.7rem) 0;
		}
	}
}

/* Section Offset */
.section--offset {
	padding-bottom: 7.9rem;

	@include breakpoint-up(tablet) {
		padding-bottom: 9.5rem;
	}
}
