/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 0.7rem;

		@include breakpoint-up(tablet) {
			gap: 1rem;
		}
	}

	a {
		display: flex;
		gap: 0.4rem;
		width: fit-content;
		align-items: flex-start;

		@include breakpoint-up(tablet) {
			gap: 0.5rem;
		}
	}
}
