// ==========================================================================
// Wrapper
// ==========================================================================

.wrapper {
	position: relative;
	min-height: 100svh;

	&:has(header.header) {
		padding-top: 10.5rem;

		@include breakpoint-up(tablet) {
			padding-top: 16.1rem;
		}

		@include breakpoint-up(small-desktop) {
			padding-top: 21.3rem;
		}
	}
}
