// ==========================================================================
// Base
// ==========================================================================

html {
	font-size: var(--fz-html);
}

body {
	min-width: 320px;
	font-family: var(--ff-base);
	font-weight: var(--fw-base);
	font-size: var(--fz-base);
	line-height: var(--lh-base);
	color: var(--c-base);
	letter-spacing: -0.01em;
	background: var(--c-gray-100);

	@include breakpoint-up(tablet) {
		font-size: var(--fz-base-desktop);
	}
}

a {
	color: inherit;
	text-decoration: underline;

	@media (hover: hover) {
		&:where(:hover, :focus-visible) {
			text-decoration: none;
		}
	}

	&[href^='tel'] {
		text-decoration: none;
	}
}

.level-1,
h1,
.level-2,
h2,
.level-3,
h3,
.level-4,
h4,
.level-5,
h5,
.level-6,
h6 {
	margin-bottom: calc(var(--lh-base) * 0.5em);
	font-weight: 400;
	line-height: 1.3;
}

.level-1,
h1 {
	font-size: 3.2rem;

	@include breakpoint-up(small-desktop) {
		font-size: 5.2rem;
		letter-spacing: -0.02em;
	}
}

.level-2,
h2 {
	font-size: 3.2rem;

	@include breakpoint-up(small-desktop) {
		font-size: 4rem;
	}
}

.level-3,
h3 {
	font-size: 2.4rem;
	line-height: 1.33;

	@include breakpoint-up(mobile) {
		font-size: 2.6rem;
	}

	@include breakpoint-up(tablet) {
		font-size: 3rem;
	}

	@include breakpoint-up(small-desktop) {
		font-size: 3.4rem;
		line-height: 1.3;
	}
}

.level-4,
h4 {
	font-size: 1.7rem;
	line-height: 1.33;

	@include breakpoint-up(mobile) {
		font-size: 2rem;
	}

	@include breakpoint-up(tablet) {
		font-size: 2.2rem;
	}

	@include breakpoint-up(small-desktop) {
		font-size: 2.4rem;
		line-height: 1.3;
	}
}

.level-5,
h5 {
	font-size: 1.6rem;
	font-weight: 500;
	font-family: var(--ff-sans-serif);

	@include breakpoint-up(mobile) {
		font-size: 1.8rem;
	}

	@include breakpoint-up(tablet) {
		font-size: 2rem;
	}

	@include breakpoint-up(small-desktop) {
		font-size: 2.2rem;
	}
}

.level-6,
h6 {
	font-size: 1.4rem;
	font-weight: 500;
	font-family: var(--ff-sans-serif);

	@include breakpoint-up(tablet) {
		font-size: 1.6rem;
	}
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: calc(var(--lh-base) * 0.5em);
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

body, main {
  opacity: 1;
  transition: opacity 0.2s;
}
