// ==========================================================================
// Fonts
// ==========================================================================

@font-face {
	font-family: 'Gestura Text';
	src:
		url('../assets/fonts/GesturaText-Regular.woff2') format('woff2'),
		url('../assets/fonts/GesturaText-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gestura Text';
	src:
		url('../assets/fonts/GesturaText-Semibold.woff2') format('woff2'),
		url('../assets/fonts/GesturaText-Semibold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CircularXX';
	src:
		url('../assets/fonts/CircularXXWeb-Book.woff2') format('woff2'),
		url('../assets/fonts/CircularXXWeb-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CircularXX';
	src:
		url('../assets/fonts/CircularXXWeb-Medium.woff2') format('woff2'),
		url('../assets/fonts/CircularXXWeb-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
