<footer class="footer">
	<div class="shell">
		<div class="footer__main">
			<div class="footer__cols grid-flex">
				<div class="
					footer__col
					grid__col
					grid__col-sm--1of4
					grid__col-md--1of6
					grid__col-xl--1of3
				">
					<a href="home.html" class="logo logo--footer">
						<img src="assets/images/svg/logo-white.svg" alt="">
					</a>
				</div><!-- /.footer__col -->

				<div class="
					footer__col
					grid__col
					grid__col-sm--1of2
					grid__col-md--1of3
					grid__col-lg--1of4
					grid__col-xl--1of6
				">
					<div class="footer__title">
						<h6>Contact</h6>
					</div><!-- /.footer__title -->

					<div class="footer__content">
						<address>
							9615 E County Line Rd<br/>
							Ste. B-442<br/>
							Centennial, CO 80112
						</address>

						<a href="mailto:hello@hypelegal.com">hello@hypelegal.com</a>
					</div><!-- /.footer__content -->
				</div><!-- /.footer__col -->

				<div class="
					footer__col
					grid__col
					grid__col-sm--1of4
					grid__col-md--1of4
					grid__col-lg--1of4
					grid__col-xl--1of6
				">
					<div class="footer__title">
						<h6>Follow</h6>
					</div><!-- /.footer__title -->

					<div class="footer__content">
						<div class="socials">
							<ul>
								<li>
									<a href="#">
										LinkedIn

										<svg class="ico-arrow-up-right">
											<use xlink:href="#ico-arrow-up-right"></use>
										</svg><!-- /.ico-arrow-up-right -->
									</a>
								</li>

								<li>
									<a href="#">
										Facebook

										<svg class="ico-arrow-up-right">
											<use xlink:href="#ico-arrow-up-right"></use>
										</svg><!-- /.ico-arrow-up-right -->
									</a>
								</li>
							</ul>
						</div><!-- /.socials -->
					</div><!-- /.footer__content -->
				</div><!-- /.footer__col -->

				<div class="
					footer__col
					grid__col
					grid__col--align-right
					grid__col-md--1of4
					grid__col-lg--1of3
					hidden-xs
					visible-lg
				">
					<div class="footer__title">
						<h6>Updates</h6>
					</div><!-- /.footer__title -->

					<div class="footer__form">
						<div class="subscribe">
							<form action="" method="post">
								<label for="mail" class="hidden">Your email</label>

								<input type="text" placeholder="Your email" class="subscribe__field" id="mail" />

								<button type="submit" value="Subscribe" class="subscribe__btn">
									<svg class="ico-arrow-right">
										<use xlink:href="#ico-arrow-right"></use>
									</svg><!-- /.ico-arrow-right -->
								</button>
							</form>
						</div><!-- /.subscribe -->
					</div><!-- /.footer__form -->
				</div><!-- /.footer__col -->
			</div><!-- /.footer__cols -->
		</div><!-- /.footer__main -->

		<div class="footer__bar">
			<p>© 2025 Hype Legal, LLC.</p>
		</div><!-- /.footer__bar -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->

<span class="hidden is-visible is-fixed is-scrolled no-transition visible fade-in"></span>