<header class="header">
	<div class="shell header__shell">
		<div class="header__logo">
			<a href="home.html">
				<picture>
					<source media="(min-width:768px)" srcset="assets/images/svg/logo.svg">

					<img src="assets/images/svg/logo-mobile.svg" alt="">
				</picture>
			</a>
		</div><!-- /.header__logo -->

		<div class="header__nav">
			<nav class="nav">
				<ul>
					<li>
						<a href="#">Work</a>
					</li>

					<li>
						<a href="about.html">About</a>
					</li>

					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__nav -->
	</div><!-- /.shell header__shell -->
</header><!-- /.header -->

<div class="header-toggle">
	<div class="menu-toggle js-menu-toggle">
		<span></span>

		<span></span>

		<span></span>
	</div><!-- /.menu-toggle -->
</div><!-- /.header-toggle -->