{layout="layout/_html-wrapper"}

<section class="section-form">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-separator separator"></div><!-- /.section__head-separator separator -->

			<div class="grid-flex grid-flex--large-gap grid-flex--align-center">
				<div class="section__head-title grid__col grid__col-md--1of2">
					<h1>Hmm... we couldn't find this page.</h1>
				</div><!-- /.section__head-title -->
			</div><!-- /.grid-flex -->
		</div><!-- /.section__head -->

		<div class="section__entry">
			<div class="block-content grid-flex grid-flex--no-gap-y">

				<div class="block__content block__content--alt grid__col grid__col-md--1of2">
					<p>Perhaps you would like to learn more <a href="{path='about'}">about our agency</a> or have a look at our <a href="{path='work'}">recent work</a>. Questions? Reach out to us by calling 303-903-2975 or emailing us at <a href="mailto:hello@hypelegal.com">hello@hypelegal.com</a>.</p>
				</div><!-- /.block__content -->
			</div><!-- /.block-content -->
		</div><!-- /.section__entry -->
	</div><!-- /.shell -->
</section><!-- /.section-form -->

