<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9GTQKC8QH"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-Y9GTQKC8QH');
	</script>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{if segment_1 == ""}
	{exp:seo_lite entry_id="1"}
	{if:elseif last_segment == "work" OR last_segment == "insights"}
	{exp:seo_lite default_title="{layout:seo_title}" default_description="{layout:seo_description}"}
	{if:else}
	{exp:seo_lite use_last_segment="yes"}
	{/if}

	<link rel="icon" href="/images/favvy/favicon.ico" sizes="any">
	<link rel="icon" href="/images/favvy/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/images/favvy/apple-touch-icon.png">
	<link rel="manifest" href="/images/favvy/site.webmanifest">
	<meta name="theme-color" content="#25262B">

    <script type="module" crossorigin src="{exp:rd_cache_breaker file='/build/assets/app.js' separator='?'}s"></script>
    <link rel="stylesheet" crossorigin href="{exp:rd_cache_breaker file='/build/assets/style.css' separator='?'}">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16496947777">
	</script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'AW-16496947777');
	</script>

	{layout:schema_article}
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="shell header__shell">
				<div class="header__logo">
					<a href="{path='SITE_INDEX'}">
						<picture>
							<source media="(min-width:768px)" srcset="/build/assets/images/svg/logo.svg">

							<img src="/build/assets/images/svg/logo-mobile.svg" alt="Digital Legal Marketing">
						</picture>
					</a>
				</div><!-- /.header__logo -->

				<div class="header__nav">
					<nav class="nav">
						<ul>
							<li>
								<a href="{path='work'}">Work</a>
							</li>

							<li>
								<a href="{path='about'}">About</a>
							</li>

							<li>
								<a href="{path='insights'}">Insights</a>
							</li>

							<li>
								<a href="{path='contact'}">Get Started</a>
							</li>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header__nav -->
			</div><!-- /.shell header__shell -->
		</header><!-- /.header -->

		<div class="header-toggle">
			<div class="menu-toggle js-menu-toggle">
				<span></span>

				<span></span>

				<span></span>
			</div><!-- /.menu-toggle -->
		</div><!-- /.header-toggle -->

		<main>
		{layout:contents}
		</main>

		<footer class="footer">
			<div class="shell">
				<div class="footer__main">
					<div class="footer__cols grid-flex">
						<div class="
							footer__col
							grid__col
							grid__col-sm--1of4
							grid__col-md--1of6
							grid__col-xl--1of3
						">
							<a href="{path='SITE_INDEX'}" class="logo logo--footer">
								<img src="/build/assets/images/svg/logo-white.svg" alt="Hype Legal – Digital Legal Marketing">
							</a>
						</div><!-- /.footer__col -->

						<div class="
							footer__col
							grid__col
							grid__col-sm--1of2
							grid__col-md--1of3
							grid__col-lg--1of4
							grid__col-xl--1of6
						">
							<div class="footer__title">
								<h6>Contact</h6>
							</div><!-- /.footer__title -->

							<div class="footer__content">
								<address>
									9615 E County Line Rd<br/>
									Ste. B-442<br/>
									Centennial, CO 80112
								</address>

								<a href="mailto:hello@hypelegal.com">hello@hypelegal.com</a>
							</div><!-- /.footer__content -->
						</div><!-- /.footer__col -->

						<div class="
							footer__col
							grid__col
							grid__col-sm--1of4
							grid__col-md--1of4
							grid__col-lg--1of4
							grid__col-xl--1of6
						">
							<div class="footer__title">
								<h6>Follow</h6>
							</div><!-- /.footer__title -->

							<div class="footer__content">
								<div class="socials">
									<ul>
										<li>
											<a href="https://www.linkedin.com/company/hype-legal/" target="_blank" rel="nofollow">
												LinkedIn

												<svg class="ico-arrow-up-right">
													<use xlink:href="#ico-arrow-up-right"></use>
												</svg><!-- /.ico-arrow-up-right -->
											</a>
										</li>

										<li>
											<a href="https://www.facebook.com/hypelegal" target="_blank" rel="nofollow">
												Facebook

												<svg class="ico-arrow-up-right">
													<use xlink:href="#ico-arrow-up-right"></use>
												</svg><!-- /.ico-arrow-up-right -->
											</a>
										</li>
									</ul>
								</div><!-- /.socials -->
							</div><!-- /.footer__content -->
						</div><!-- /.footer__col -->

						<div class="
							footer__col
							grid__col
							grid__col--align-right
							grid__col-md--1of4
							grid__col-lg--1of3
							hidden-xs
							visible-lg
						">
							<div class="footer__title">
								<h6>Updates</h6>
							</div><!-- /.footer__title -->

							<div class="footer__form">
								<div class="subscribe">
									{embed="embeds/subscribe"}
								</div><!-- /.subscribe -->
							</div><!-- /.footer__form -->
						</div><!-- /.footer__col -->
					</div><!-- /.footer__cols -->
				</div><!-- /.footer__main -->

				<div class="footer__bar">
					<p>© {current_time format="%Y"} Hype Legal, LLC.</p>
				</div><!-- /.footer__bar -->
			</div><!-- /.shell -->
		</footer><!-- /.footer -->

		<span class="hidden is-visible is-fixed is-scrolled no-transition"></span>	</div><!-- /.wrapper -->

	<div class="sprite">
		<svg id="ico-arrow-right" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.3538 8.36184L9.85375 12.8618C9.75993 12.9557 9.63268 13.0084 9.5 13.0084C9.36732 13.0084 9.24007 12.9557 9.14625 12.8618C9.05243 12.768 8.99972 12.6408 8.99972 12.5081C8.99972 12.3754 9.05243 12.2482 9.14625 12.1543L12.7931 8.50809H3C2.86739 8.50809 2.74021 8.45541 2.64645 8.36164C2.55268 8.26788 2.5 8.1407 2.5 8.00809C2.5 7.87548 2.55268 7.74831 2.64645 7.65454C2.74021 7.56077 2.86739 7.50809 3 7.50809H12.7931L9.14625 3.86184C9.05243 3.76802 8.99972 3.64077 8.99972 3.50809C8.99972 3.37541 9.05243 3.24816 9.14625 3.15434C9.24007 3.06052 9.36732 3.00781 9.5 3.00781C9.63268 3.00781 9.75993 3.06052 9.85375 3.15434L14.3538 7.65434C14.4002 7.70078 14.4371 7.75592 14.4623 7.81662C14.4874 7.87732 14.5004 7.94238 14.5004 8.00809C14.5004 8.0738 14.4874 8.13886 14.4623 8.19956C14.4371 8.26026 14.4002 8.3154 14.3538 8.36184Z" fill="currentColor" />
		</svg>

		<svg id="ico-arrow-up-right" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M11.719 3.75781V9.85156C11.719 9.97588 11.6696 10.0951 11.5817 10.183C11.4938 10.2709 11.3746 10.3203 11.2503 10.3203C11.1259 10.3203 11.0067 10.2709 10.9188 10.183C10.8309 10.0951 10.7815 9.97588 10.7815 9.85156V4.88926L4.0819 11.5895C3.99394 11.6774 3.87465 11.7268 3.75026 11.7268C3.62587 11.7268 3.50658 11.6774 3.41862 11.5895C3.33066 11.5015 3.28125 11.3822 3.28125 11.2578C3.28125 11.1334 3.33066 11.0141 3.41862 10.9262L10.1188 4.22656H5.15651C5.03219 4.22656 4.91296 4.17718 4.82505 4.08927C4.73715 4.00136 4.68776 3.88213 4.68776 3.75781C4.68776 3.63349 4.73715 3.51426 4.82505 3.42636C4.91296 3.33845 5.03219 3.28906 5.15651 3.28906H11.2503C11.3746 3.28906 11.4938 3.33845 11.5817 3.42636C11.6696 3.51426 11.719 3.63349 11.719 3.75781Z" fill="currentColor"/>
		</svg>
	</div><!-- /.sprite -->	<script type="text/javascript" src="/build/assets/vendor/jquery-3.7.1.min.js"></script></body>
</html>