<section class="section-related">
	<div class="shell">
		<div class="section__head">
			<div class="section__head-title">
				<h1>More Projects</h1>
			</div><!-- /.section__head-title -->

			<div class="section__head-actions">
				<a href="{path='work'}" class="link">
					All Work

					<svg class="ico-arrow-right">
						<use xlink:href="#ico-arrow-right"></use>
					</svg><!-- /.ico-arrow-right -->
				</a><!-- /.link -->
			</div><!-- /.section__head-actions -->
		</div><!-- /.section__head -->

		<div class="section__body">
			<div class="grid-flex">

				{exp:channel:entries channel="work" disable="categories|category_fields|member_data|pagination" limit="4" status="open" dynamic="no" entry_id="not {embed:project}"}
				<div class="grid__col grid__col-sm--1of2 grid__col-lg--1of4">
					<div class="card">
						<a href="{url_title_path='work'}">
							<div class="card__image">
								<picture>
									<source media="(min-width:768px)" srcset="{exp:jcogs_img:image src='{hero_image_small}' url_only='yes' use_image_path_prefix='yes'}">

									{exp:jcogs_img:image src='{hero_image_small}' add_dims='yes' alt='{hero_image_small}{title}{/hero_image_small}' lazy='dominant_color' class='fade-in' use_image_path_prefix='yes'}
								</picture>
							</div><!-- /.card__image -->

							<div class="card__content">
								<span>client</span>

								<h4>{title}</h4>
							</div><!-- /.card__content -->
						</a>
					</div><!-- /.card -->
				</div><!-- /.grid__col -->
				{/exp:channel:entries}

			</div><!-- /.grid-flex -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</section><!-- /.section-related -->